/* .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1400px;
  }
  
  .card-container-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
   */
  .card-test {
    background-color: #fff;
    width: 320px;
    border-radius: 12px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .card-test:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
  }
  
  .card-test-image img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    background-color: #ddd;
  }
  
  .card-test-info {
    padding: 20px;
  }
  
  .card-test-info h1 {
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  .card-test-info p {
    color: #555;
    font-size: 0.95rem;
    line-height: 1.4;
  }
  



  .card-blog {
    background-color: #fff;
    width: 1700px;
    border-radius: 12px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    justify-content: flex-start;
    height: 300px;
    margin-top: 2%;
    
  }
  
  .card-blog:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
  }
  
  .card-blog-image img {
    width: 160%;
    height: 300px;
    object-fit: cover;
    background-color: #ddd;
    
  }
  
  .card-blog-info {
    padding-left: 200px;
  }
  
  .card-blog-info h1 {
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  .card-blog-info p {
    color: #555;
    font-size: 1.5rem;
    line-height: 1.4;
  }