footer {
   background: #0b031f;
    color: #fff;
    padding: 60px 80px; /* daha uzun görünüm için arttırıldı */
    font-family: 'Arial', sans-serif;
    width: 100%;
  }
  
  #footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  /* Sol taraf: logo + yazı */
  .footer-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .footer-logo-section {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .footer-logo {
    height: 65px;
  }
  
  .footer-logo-section h2 {
    font-size: 26px;
    margin: 0;
    color: #fff;
  }
  
  .footer-copy {
    font-size: 14px;
    opacity: 0.7;
    margin-top: 25px;
  }
  
  /* Orta kısım: menü alt alta */
  .footer-center {
    text-align: center;
    flex: 1;
  }
  
  .footer-center ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-center ul li {
    margin-bottom: 12px;
  }
  
  .footer-center ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
  }
  
  .footer-center ul li a:hover {
    color: #ff4c00;
  }
  
  /* Küçük ekranlarda*
  