.index-body{
    height: 300vh;
    background: radial-gradient(
      circle at top left,
      #0f081e 10%,
      #0b0128 60%,
      #0a021a 100%
    );
  }

  .register-body, .login-body, .test-body, .blog-body{ 
    height: auto;
    background: radial-gradient(
    circle at top left,
    #0f081e 10%,
    #0a021a 100%
  );
}

