@import url('https://fonts.googleapis.com/css2?family=Bitcount+Ink:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single+Ink:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');




body ,html {
  margin: 0;
  font-family: "Poppins", sans-serif;
}


.main{
  flex: 1;
  padding-top: 70px;
  padding-bottom: 50px;
  height: 2500px;
} 

.main .page-one .page-texting {
  color: white;
  /* border: #ff0099;
  border-style: inset; */
  height: auto;
  width: 900px;
  position: absolute;
  left: 10%;
  top: 30%;
  font-size: 25px;
}

.main .page-one .decoration {
  /* border: #ff0099;
  border-style: inset; */
  position: absolute;
  left: 60%;
  top: 20%;
}

.decoration img {
  width: 700px;
  opacity: 0.3;
}


.main .page-two .page-texting {
  color: rgb(255, 0, 0);
  /* border: #ff0099;
  border-style: inset; */
  position: absolute;
  height: auto;
  width: 900px;
  font-size: 25px;
  left: 50%;
  top: 120%;
}

.main .page-two .decoration {
  position: absolute;
  left: 10%;
  top: 110%;
}

.register-body .register-container,
.login-body .login-container {
  width: 30%;
  margin: 0 auto;
  margin-top: 10%;
}

.register-body form,
.login-body form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.register-body .register-form h1,
.login-body .login-form h1 {
  text-align: center;
  color: rgb(255, 255, 255);
}

.register-body form input,
.login-body form input {
  width: 70%;
  padding: 10px;
  border-radius: 5px;
  border: 1.2px solid rgb(255, 255, 255, 0.151);
  color: white;
  background: none;
  margin: 0 auto;
}

.register-body form input:focus,
.login-body form input:focus {
  width: 70%;
  padding: 10px;
  border-radius: 5px;
  border: 1.2px solid rgba(145, 90, 90, 0.151);
  color: white;
  background: none;
  margin: 0 auto;
}

.register-body form button,
.login-body form button {
  border: 1px solid rgba(255, 255, 255, 0.151);
  width: 40%;
  height: 50px;
  padding: 10px;
  border-radius: 5px;
  background-color: transparent;
  font-size: 15px;
  color: white;
  cursor: pointer;
  margin: 0 auto;
  transition: 0.3s;
  margin-top: 30px;
}

.register-body form button:hover,
.login-body form button:hover {
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 40%;
  height: 50px;
  padding: 10px;
  border-radius: 5px;
  background-color: transparent;
  font-size: 15px;
  color: white;
  cursor: pointer;
  margin: 0 auto;
  transition: 0.1s;
  margin-top: 30px;
}

.test-row-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1600px;
  margin: 0 auto;
  margin-top: 200px;
}

.test-column-number {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
}

.card-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 6%;
}

.blog-container{
  width: 100%;
  align-items: center;
  margin: 0 auto;
  margin-left: 4%;
  
}